language = "bash"
run = "mcs -out:main.exe 'projeto pt 2.2/main.cs' 'projeto pt 2.2/esporte.cs' 'projeto pt 2.2/aluno.cs' 'projeto pt 2.2/sistema.cs' 'projeto pt 2.2/professor.cs' 'projeto pt 2.2/arquivo.cs'; mono main.exe"