language = "bash"
run = "mcs -out:main.exe 'projeto pt 2.2/main.cs' 'Parte Final do Projeto/esporte.cs' 'Parte Final do Projeto/aluno.cs' 'Parte Final do Projeto/sistema.cs' 'Parte Final do Projeto/professor.cs' 'Parte Final do Projeto/arquivo.cs'; mono main.exe"